{% extends "base.html" %}

{% block title %}
<title></title>
{% endblock title %}

{% block navbar %}
<li><a href="{% url 'theBand.views.home' %}">Home</a></li>
<li><a href="{% url 'theBand.views.about' %}">About the Band</a></li>
<li><a href="{% url 'theBand.views.discog' %}">Discography</a></li>
<li class="active"><a href="#">Tour Dates<span class="sr-only">(current)</span></a></li>
{% endblock %}


{% block content %}
<!DOCTYPE html>
<html>

<head>
<h1>Tour Dates<h1>
<style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
}
</style>
</head>

<body>

<table style="width:100%">
  <tr>
    <th>Date</th>
    <th>Venue</th>		
    <th>Location</th>
  </tr>
  <tr>
    <td>May 7</td>
    <td>The Cynthia Woods Mitchell Pavilion</td>		
    <td>Woodlands, Texas</td>
  </tr>
  <tr>
    <td>May 9</td>
    <td>Gexa Energy Pavilion</td>		
    <td>Dallas, Texas</td>
  </tr>
  <tr>
    <td>May 12</td>
    <td>Red Rocks Amphitheatre</td>		
    <td>Morrison, Colorado</td>
  </tr>
  <tr>
    <td>May 14</td>
    <td>Ak-Chin Pavilion</td>		
    <td>Phoenix, Arizona</td>
  </tr>
  <tr>
    <td>May 16</td>
    <td>Sleep Train Amphitheatre</td>		
    <td>Chula Vista, California</td>
  </tr>
  <tr>
    <td>May 18</td>
    <td>Hollywood Bowl</td>		
    <td>Los Angeles, California</td>
  </tr>
  <tr>
    <td>May 20</td>
    <td>Shoreline Amphitheatre</td>		
    <td>Mountain View, Califonia</td>
  </tr>
  <tr>
    <td>May 22</td>
    <td>Amphitheater Northwest</td>		
    <td>Ridgefield, Washington</td>
  </tr>
  <tr>
    <td>May 28</td>
    <td>Klipsch Music Center</td>		
    <td>Noblesville, Indiana</td>
  </tr>
  <tr>
    <td>May 30</td>
    <td>First Midwest Bank Amphitheatre</td>		
    <td>Tinley Park, Illinois</td>
  </tr>
  <tr>
    <td>May 31</td>
    <td>DTE Energy Music Theatre</td>		
    <td>Clarkston, Michigan</td>
  </tr>
  <tr>
    <td>Jun 3</td>
    <td>Molson Canadian Amphitheatre</td>		
    <td>Toronto, Ontario</td>
  </tr>
  <tr>
    <td>Jun 4</td>
    <td>Centre Bell</td>		
    <td>Montreal, Quebec</td>
  </tr>
  <tr>
    <td>May 22</td>
    <td>Amphitheater Northwest</td>		
    <td>Ridgefield, Washington</td>
  </tr>
  <tr>
    <td>May 22</td>
    <td>Amphitheater Northwest</td>		
    <td>Ridgefield, Washington</td>
  </tr>
  <tr>
    <td>May 22</td>
    <td>Amphitheater Northwest</td>		
    <td>Ridgefield, Washington</td>
  </tr>
</table>

</body>
</html>
{% endblock %}