{% extends "base.html" %}

{% block title %}
<title>2015 National Tour</title>
{% endblock title %}

{% block navbar %}
<li><a href="{% url 'theBand.views.home' %}">Home</a></li>
<li><a href="{% url 'theBand.views.about' %}">About the Band</a></li>
<li><a href="{% url 'theBand.views.discog' %}">Discography</a></li>
<li class="active"><a href="#">Tour Dates<span class="sr-only">(current)</span></a></li>
{% endblock %}


{% block content %}
<h1>Upcoming 2015 Tour Dates<h1>

<body>

<table class="table table-bordered" style="width:100%">
  <tr>
    <th>Date</th>
    <th>Venue</th>		
    <th>Location</th>
    <th>Tickets</th>
  </tr>
  <tr>
    <td>May 7</td>
    <td>The Cynthia Woods Mitchell Pavilion</td>		
    <td>Woodlands, Texas</td>
    <td><a href="http://www.ticketmaster.com">Buy Tickets</a></td>
  </tr>
  <tr>
    <td>May 9</td>
    <td>Gexa Energy Pavilion</td>		
    <td>Dallas, Texas</td>
    <td><a href="http://www.ticketmaster.com">Buy Tickets</a></td>
  </tr>
  <tr>
    <td>May 12</td>
    <td>Red Rocks Amphitheatre</td>		
    <td>Morrison, Colorado</td>
    <td><a href="http://www.ticketmaster.com">Buy Tickets</a></td>
  </tr>
  <tr>
    <td>May 14</td>
    <td>Ak-Chin Pavilion</td>		
    <td>Phoenix, Arizona</td>
    <td><a href="http://www.ticketmaster.com">Buy Tickets</a></td>
  </tr>
  <tr>
    <td>May 16</td>
    <td>Sleep Train Amphitheatre</td>		
    <td>Chula Vista, California</td>
    <td><a href="http://www.ticketmaster.com">Buy Tickets</a></td>
  </tr>
  <tr>
    <td>May 18</td>
    <td>Hollywood Bowl</td>		
    <td>Los Angeles, California</td>
    <td><a href="http://www.ticketmaster.com">Buy Tickets</a></td>
  </tr>
  <tr>
    <td>May 20</td>
    <td>Shoreline Amphitheatre</td>		
    <td>Mountain View, Califonia</td>
    <td><a href="http://www.ticketmaster.com">Buy Tickets</a></td>
  </tr>
  <tr>
    <td>May 22</td>
    <td>Amphitheater Northwest</td>		
    <td>Ridgefield, Washington</td>
    <td><a href="http://www.ticketmaster.com">Buy Tickets</a></td>
  </tr>
  <tr>
    <td>May 28</td>
    <td>Klipsch Music Center</td>		
    <td>Noblesville, Indiana</td>
    <td><a href="http://www.ticketmaster.com">Buy Tickets</a></td>
  </tr>
  <tr>
    <td>May 30</td>
    <td>First Midwest Bank Amphitheatre</td>		
    <td>Tinley Park, Illinois</td>
    <td><a href="http://www.ticketmaster.com">Buy Tickets</a></td>
  </tr>
  <tr>
    <td>May 31</td>
    <td>DTE Energy Music Theatre</td>		
    <td>Clarkston, Michigan</td>
    <td><a href="http://www.ticketmaster.com">Buy Tickets</a></td>
  </tr>
  <tr>
    <td>Jun 3</td>
    <td>Molson Canadian Amphitheatre</td>		
    <td>Toronto, Ontario</td>
    <td><a href="http://www.ticketmaster.com">Buy Tickets</a></td>
  </tr>
  <tr>
    <td>Jun 4</td>
    <td>Centre Bell</td>		
    <td>Montreal, Quebec</td>
    <td><a href="http://www.ticketmaster.com">Buy Tickets</a></td>
  </tr>
  <tr>
    <td>July 01</td>
    <td>Madison Square Garden</td>		
    <td>New York City, New York</td>
    <td><a href="http://www.ticketmaster.com">Buy Tickets</a></td>
  </tr>
  <tr>
    <td>July 05</td>
    <td>Staples Center</td>		
    <td>Los Angeles, California</td>
    <td><a href="http://www.ticketmaster.com">Buy Tickets</a></td>
  </tr>
  <tr>
    <td>July 10</td>
    <td>Toyota Center</td>		
    <td>Houston, Texas</td>
    <td><a href="http://www.ticketmaster.com">Buy Tickets</a></td>
  </tr>
</table>
{% endblock %}